// assets/scss/app.scss

// customize some Bootstrap variables
//$brand-primary: darken(#428bca, 20%);
// See this page for boostrap customisation
// https://getbootstrap.com/docs/4.0

$fa-font-path: "~font-awesome/fonts";
$enable-gradients: true;
$enable-shadows: true;
$enable-rounded: true;

// the ~ allows you to reference things in node_modules
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome.scss';

/* CSS for LDAP Tool Box Self-Service Password */

html, body {
  background: #eee;
  padding-top: 20px;
  padding-bottom: 20px;
}

.alert, .navbar {
  box-shadow:0 3px 6px rgba(0,0,0,.25);
}

#application-wrapper {
  box-shadow:0 3px 6px rgba(0,0,0,.25);
  background-color: rgba(255,255,255,0.8);
  padding: 1em;
  @include border-radius(0.1rem);
}

img.logo {
  margin-top: 20px;
}

// toggle password visibility
.form-control.password + .glyphicon {
  cursor: pointer;
  pointer-events: all;
}

.passwordPolicyHelp {
  margin-top: -12px;
}